* {
margin: 0;
padding: 0;
font-family: "Space Grotesk", sans-serif;
z-index: 10;
}

/* Barra de navegacion */
nav {
  background-color: rgb(0,85,255);
  color: white;
  font-size: 25px;
  display: flex;
  /*Eje principal, solo se puede usar si el elemento es flex*/
  justify-content: space-between;
  /*Eje secundario, solo se puede usar si el elemento es flex*/
  align-items: center;
  /*height 300px*/
  /*Distancia entre el borde de la caja y su contenido*/
  /*
  padding: 20px; 20px en todas las direcciones
  padding: 20px 0; 20 arriba y abajo, 0 derecha e izquierda
  padding: 20px 0 20px 0; 20 arriba, o derecha, 20 abajo, 0 izquierda
  */
  padding: 20px;
  /*Radio de los bordes, se lee arriba izquierda, arriba derecha
  abajo izquierda, abajo derecha*/
  /*border-radius: 0 0 20px 20px;*/
}

/*
nav div selecciona todos los divs dentro de nav
nav > div selecciona solo los divs hijos de nav
*/
nav div {
  display: flex;
  /*Espaciado entre los elementos de la fila o columna*/
  gap: 20px;
}
/*
  Las pseudoclases manejan el estado de un elemento
  :hover se activa cuando el mouse pasa por encima del elemento
  :active se activa cuando el elemento es presionado
  :focus se activa cuando el elemento es seleccionado 
  :visited se activa cuando el elemento visitado
  :link se activa cuando el elemento es un link 
  :first-child se activa cuando el elemento es el primer hijo de su padre 
  :last-child se activa cuando el elemento es el ultimo hijo de su padre
*/
nav div a:visited, nav div a:link {
  color: white;
  text-decoration:none;
  transition: all 1s ease;
}

.enlace:hover {
  color: black;
}

/*
#Inicio:hover, #Introduccion:hover {
  color: black;
}
*/

/*
nav div a {
  margin: 0 20px;
}
*/

/*MAIN*/
main {
  background-color: black;
  background-image: linear-gradient(to right, #3d3dbd, #2020bd );
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

/*
  GRID
  Grid es un tipo de Display que permite manejar
  un sistema de filas y columnas
*/

header {
  height: 80vh;
  min-height: 80vh;
  background-size: cover;
  /*opacity: 0.2;*/
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  border-radius: 25px;
  /*grid-template-rows: 200px;*/
  /*Eje principal*/
  justify-items: center;
  /*Eje secundario*/
  align-content: center;
  gap: 20px;
  position: relative;
}

header::before {
  background-image: url("https://as1.ftcdn.net/v2/jpg/01/61/23/82/1000_F_161238202_GbkRIC1lSjG7lZCLLPfQ7wAaEQyw9UsG.jpg");
  background-size: cover;
  background-position: center;
  content: "";
  position: absolute;
  z-index: 5;
  opacity: 0.15;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  border: 20px solid white;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 1);
}

header > div{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:20px;
}

/*ANIMACION*/
.gradient-background {
  background: linear-gradient(300deg,#3d3dbd,#2020bd,#f8f8ff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}